https://online.uts.edu.au/webapps/blackboard/execute/content/blankPage?cmd=view&content_id=_2509118_1&course_id=_34070_1

DUE: 5PM FRIDAY - 8/9/2017

1. Use only HTML, CSS, and TS => JS that I created. Do not use any external librarys, css, or scripts.
2. Have index.html, future.html, past.html, and comments.html exist as well as websystems.css

DESCRIPTION:
Your task is to write a home page for yourself on the faculty student web server,
http://www-student.it.uts.edu.au, and a couple of secondary pages describing your experiences with computing so far.

This assignment tests 2 main skills - creating a live working web site and demonstrating some basic HTML/CSS skills.

You will need to:

If you don't already have a public web page on the faculty student web server, you will need to set this up.
See http://www-student.it.uts.edu.au for instructions on how to do this. Basically....
You will need to create directory called public_html directory in your home directory on the lab workstations. Note that this is the same home directory on the rerun.it.uts.edu.au server and is equivalent to drive X: on the Windows workstations.
This should have public execute permission (recall your people and permissions lab?).
Your home directory should also have public execute permission, but NOT public read or write permission.
Create a file called index.html in the public_html subdirectory. This file is your home page.
Create a subdirectory in public_html called "websystems"
Create a file in the public_html/websystems subdirectory called index.html.
This page should list some information about yourself eg: your name, what course you are doing etc. Please don't put any personal information here!!

It should have links to 3 other pages in this subdirectory- past.html, future.html and comments.html (see below)

past.html should describe your experiences with computing so far (eg: mention your HSC experience, past work experience, etc)

future.html should describe what you want to do with computing in the future.

comments.html is where you need to comment on:
The technical aspects of your website: eg: describe the structure of your website, what CSS selectors/id's etc you used and why you used them.(about half a page)
The aesthetics of your website - eg: how users should perceive your page and what effects you were trying to achieve (about half a page).
An introduction to the aesthetics of Web design can be found here: http://alistapart.com/article/the-web-aesthetic and http://www.webstyleguide.com/wsg3/ 
The accessibility aspects of your website - eg: how you made your web site usable by disabled users
A quick guide to accessibilty can be found at http://w3schools.com/quality/quality_accessibility.asp and at http://webaim.org/intro/

Create a style sheet called websystems.css and modify index.html, past.html and future.html to use this style sheet.

Modify your main home page index.html to link to your websystems/index.html.
You should try to make this web site as appealing as possible, using style sheets only. You will lose marks for embedded or inline styles.


You MUST check the validation of your website at http://validator.w3.org/ and your style sheet at http://jigsaw.w3.org/css-validator/.  Generally you can ignore 'information' messages, but warnings and errors are penalised.


You MUST use the assignment checker provided (see next item) to give you some feedback on your assignment. I will start running the actual marking program every evening from 1 week before the due date - you can see your actual technical mark and can make adjustments until the due time/date.

MARKING CRITERIA:
Mark breakdown:
Technically correct:	30%	6
Comments page:	30%	6
Quality:	15%	3
Peer Marking:	25%	5
TOTAL:	100%	20
Marks will be based on:

Does this page meet the requirements?
Is is technically correct? (meets validation, structured correctly)
Is it pleasant and easy to look at?
Does it use a common style sheet?
Your marks on the comments.html page will be split equally between technical (2), aesthetics (2) & accessibility (2) comments.

You will peer mark 2 other students - your marks will be based on participation and comment feedback.

General marking comments:

You MUST have the site layout exactly as described above.
Do NOT change the filenames or directory location as we use an automated marking checker.
Use HTML 4.01 Strict and CSS 2.1 - our checker can handle some HTML5 and CSS3, but best to check with OUR online assignment checker.
Do NOT use deprecated tags or attributes. See http://en.wikipedia.org/wiki/Html#Transitional_versus_strict  for a list of deprecated tags and attributes.
Do NOT use frames or iframes (this causes problem for my validator/assignment checker) 
Additional marks WILL NOT be granted for features such as Flash, fancy graphics, animations, audio/video etc. 
Don't bother using CSS positioning or anything else not covered in lectures, labs or tutorials.
You MUST acknowledge graphic files downloaded from the internet. It is sufficient to put them in a HTML comment adjacent to the image tag. This is for legal copyright reasons as well as ethical ones.
You MUST use styles sheets to format your page. This MUST be in one CSS file, websystems.css - dont use @import since the assignment checker won't pick this up.
Do NOT hard-code your page URL's inside your pages - your website should be "relative" ie. any href's to "http://www-student.it.uts.edu.au/~" will be penalised. 
You MUST have:
At least 5 CSS classes and 1 CSS id.
At least 1 div and 1 span tag per page
At least 1 table, 1 list (any type) and 1 image within the entire assignment submission
You do not need to use anything fancy, eg: positioning, it is not essential to use them to layout your web pages. 
Your web site MUST be easy to navigate and read (consider your target audience).
We expect to be able to point and click, and not press the 'BACK' key on the browser, or type in any extra URL's in the address bar.
Unreadable or unusable web sites will also be penalised. You MUST test your web site with graphics and Javascript turned off. Is it still usable?
Don't put advertisements or animations on your web site.
Do not put private information on your web site eg date of birth, home address, credit card details. This is a PUBLIC website.
Don't use bad colour combinations (for example, red on black, purple on black, purple on red, blue on purple, black on red). If your tutor can't read it, you will lose marks.
Don't become a site on http://webpagesthatsuck.com
Make font sizes reasonable, use style sheets to manage them. Consider what will happen if your marker uses a smaller screen (eg: 800x600).
Do not have large image files - keep pictures to less than 100kb, and anything larger will attract penalties. 
Watch out for large JPG from cameras - use a tool to reduce the size e.g. Microsoft Paint or Photoshop or GIMP etc.
Do not use BMP or TIF files - these arent web friendly.
Do not make pages so wide that they can't be read unless you scroll horizontally. 
You will lose marks if a tutor cannot read the web page. I recommend a maximum screen size should be 1024x768, though you should design your web site to cope with larger (and smaller) screens.
You MUST NOT use style sheets or designs from anyone else - this includes open source and commercial style sheets and frameworks!
You SHOULD check your web site on the 2 of the following browsers - Chrome, Firefox and/or Internet Explorer/Edge